{% extends'base.html' %}
{% block title %}Критерии оценки:{% endblock %}
{% block body %}
    <p class="h2">Критерии оценки:</p>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item">создано Flask приложение в app.py</li>
        <li class="list-group-item">добавлены вьюшки / и /about/</li>
        <li class="list-group-item">подключены и применены стили Bootstrap</li>
        <li class="list-group-item">в базовый шаблон добавлена навигационная панель</li>
        <li class="list-group-item">автоматический тест test_homework_05 проходит</li>
    </ol>
{% endblock %}